@font-face {
    font-family: Audiowide-Regular;
    src: url(../webfonts/Audiowide-Regular.ttf);
}

.title, .subtitle {
  font-family: Audiowide-Regular;
  color: #FFFFFF;
}

.title {
  font-size: 7em;
}

.subtitle {
  font-size: 2em;
}

.button {
  background-color: #E56D90 !important;
  color: #FFFFFF;
}

.button:hover {
  color: #A62A6C;
  border-color: #A62A6C;
}

.has-background-pink {
  background-color: #E56D90;
}
